.Traffic .Bulb{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 10px;
  opacity: .2;
}
.Traffic .Bulb.Active{
  opacity: 1;
}
.Traffic .Bulb.Red{
  background-color: red;
}
.Traffic .Bulb.Yellow{
  background-color: yellow;
}
.Traffic .Bulb.Green{
  background-color: green;
}